* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background-image: url(https://cdn.celtics.com/evergreen/legacy/homepage/media/75th/75th-bg.jpg);
    color: rgb(0,131,72)
}

header {
    padding-top: 16px;
    background-color: rgb(1,95,53);
    color:white;
}

header > .container {
    padding-bottom: 16px;
}

header h1,
section h1 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
}

header h1 {
    font-size: 3rem;
}

header img {
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left: 25px;
}

nav li {
    display: inline;
    margin-left: 16px;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

nav a:hover {
    text-decoration: underline;
}

.container { 
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about { 
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-between;
    margin-top: 46px;
}

.about-imgs{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tatum_largando_a_braba {
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.branchs_list img {
    height: 30px;
    margin-top: 24px;
}

.branchs_list li {
    display: inline;
    margin-right: 8px;
}

article h1 {
    margin-bottom: 16px;
    font-size: 1.8rem;
}

.contact {
    display: grid;
    grid-template-columns: 25% 45% 20%;
    justify-content: space-between;
    margin: 64px auto 0;
}

#green-club {
    margin-bottom: 72px;
}

#green-club p {
    margin: 24px 0 12px;
    font-size: 1rem;
}

.form-custom input{
    display: block;
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
    border-radius: 3px;
}

.form-custom input {
    border-width: 0 0 1px 0;
    border-color: rgba(0, 131, 72, 0.7);
    background-color: rgba(255, 255, 255, 0.4);
}

input:focus {
    outline-color: rgba(0, 131, 72, 0.6);
}

.greenclub-offers {
    font-weight: bold;
    font-size: 1rem;
}

#green-club table {
    width: 100%;
}

#green-club table td {
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 131, 72, 0.3);
}

form button {
    margin-top: 24px;
    padding: 8px;
    width: 100%;
    background-color: rgb(0,131,72);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(0,131,72,0.9);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

#stadium {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 72px;
}

#stadium h1 {
    margin: 0;
}

#stadium figure {
    margin-top: 8px;
}

#stadium figure img {
    width: 80%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

iframe {
    width: 390px;
    height: 220px;
    border-style: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.stadium-address {
    font-size: .9rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.links h1 {
    font-size: 1.4rem;
}

.social-links {
    text-align: center;
}

.social-links ul li {
    display: inline;
    margin-right: 12px;
    list-style: none;
}

.links img {
    height: 28px;
}

#tickets a {
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
    color: rgb(0,131,72);
    display: flex;
    flex-direction: column;
    align-items: end;
    cursor: pointer;
}

#tickets img {
    height: 170px;
}

#tickets a:hover {
    opacity: 90%;
}

footer {
    background-color: rgb(1,95,53);
    color: white;
    padding: 30px 0;
}

.menu ul{
    display: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
    display: none;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

@media screen and (max-width: 640px) {
    header {
        padding-top: 12px;
    }
    header > .container {
        padding-bottom: 8px;
    }
    header h1 {
        font-size: 2rem;
    }
    header img {
        height: 50px;
    }
    .logo h1 {
        margin-left: 10px;
    }
    
    nav li {
        display: none;
    }
    
    .container { 
        width: 95%;
    }

    .about { 
        display: block;
        margin: 46px auto;
    }
    
    .about-imgs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .branchs_list img {
        height: 25px;
        margin: 14px 0;
    }
    
    article h1 {
        margin-bottom: 18px;
        font-size: 1.8rem;
    }

    .contact {
        display: block;
    }
    
    #green-club {
        margin: 72px auto;
    }

    #stadium {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 72px;
    }
    
    #stadium figure {
        margin-bottom: 36px ;
    }
    #stadium figure img {
        width: 95%;
    }
    iframe {
        width: auto;
        height: auto;
        margin-top: 36px;
    }
    .links ul {
        margin-bottom: 36px;
    }
    .links h1 {
        margin-top: 36px;
    }
    
    #tickets {
        margin-top: 36px;
    }

    #tickets h1 {
        text-align: center;
    }

    #tickets img {
        height: 190px;
    }
    
    .menu-hamburguer {
        width: 32px;
        cursor: pointer;
        display: block;
        margin-right: 10px;
    }
    
    .menu-hamburguer span {
        height: 2px;
        width: 100%;
        background-color: #fff;
        display: block;
        margin-bottom: 4px;
    }

    .menu {
        display: none;
        margin-top: 10px;
        background-color: rgba(0,131,72);
        padding: 12px 0;
    }
    .menu ul {
        display: flex;
        justify-content: space-around;
    }
    .menu li {
        display: inline;
        margin: 0 8px;
    }
    .menu li a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    header {
        padding-top: 12px;
    }
    header > .container {
        padding-bottom: 8px;
    }
    header h1 {
        font-size: 2.5rem;
    }
    header img {
        height: 50px;
    }
    .logo h1 {
        margin-left: 10px;
    }
    
    nav li {
        display: none;
    }
    
    .container { 
        width: 95%;
    }

    .about { 
        display: block;
        margin: 46px auto;
    }
    
    .about-imgs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .branchs_list img {
        height: 25px;
        margin: 14px 0;
    }
    
    article h1 {
        margin-bottom: 18px;
        font-size: 1.8rem;
    }

    .contact {
        display: block;
    }
    
    #green-club {
        margin: 72px auto;
    }

    .links, 
    #stadium {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        align-items: center;
    }
    
    #stadium figure {
        margin-bottom: 36px ;
    }
    #stadium figure img {
        width: 90%;
    }
    iframe {
        width: auto;
        height: auto;
        margin-top: 36px;
    }
    
    #tickets {
        margin-top: 36px;
    }

    #tickets h1 {
        text-align: center;
    }

    #tickets img {
        height: 190px;
    }
    
    .menu-hamburguer {
        width: 32px;
        cursor: pointer;
        display: block;
        margin-right: 10px;
    }
    
    .menu-hamburguer span {
        height: 2px;
        width: 100%;
        background-color: #fff;
        display: block;
        margin-bottom: 4px;
    }

    .menu {
        display: none;
        margin-top: 10px;
        background-color: rgba(0,131,72);
        padding: 12px 0;
    }
    .menu ul {
        display: flex;
        justify-content: space-around;
    }
    .menu li {
        display: inline;
        margin: 0 8px;
    }
    .menu li a {
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
    }
}